.logo-navbar {
  transition: transform 0.3s ease;
}

.logo-navbar:hover {
  transform: scale(1.05);
}

.nav-link {
  color: white !important;
  font-weight: 700 !important; /* Forzamos negrita para todos */
  opacity: 0.85;
  transition: all 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
}

.nav-link:hover, 
.nav-link:focus {
  opacity: 1;
  color: #e8d1c3 !important; /* Tercer color para el hover */
}

/* Clase para el enlace de la página donde estamos (Angular) */
.active-link {
  opacity: 1 !important;
  color: #e8d1c3 !important;
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #c24f2e;
    padding-bottom: 20px;
    border-radius: 0 0 15px 15px; /* Bordes redondeados al abrir en móvil */
  }
  .nav-item {
    padding: 8px 0;
    border-bottom: 1px solid rgba(232, 209, 195, 0.1);
  }
}