
.custom-navbar {

background-color: #c24f2e !important; 

min-height: 80px; 

width: 100%;
}


.nav-link {
font-size: 1.1rem;
margin: 0 15px;
}
.logo-navbar {
height: 60px;
width: auto;
object-fit: contain;
}